
.color-primary-0 { color: #29526D }
.color-primary-1 { color: #708FA3 }
.color-primary-2 { color: #486F88 }
.color-primary-3 { color: #123852 }
.color-primary-4 { color: #032236 }


body {
    background-color: #7697a0;
    padding: 0.0em;
    margin: 0.0em;
    /* border-radius: 0.5em; */
    /*  margin: 0.5em; */
    font-size: 1.0em;
    font-family: monospace;
}

a {
    color: #4a707a
}

#top-menu {
    background-color: #4a707a;
    /* padding: 0.0em; */
    /* margin: 0.0em;*/
    border-radius: 0.5em;
    margin: 0.3em;
    padding-left: 0.3em;
    margin-bottom: 1.0em; 
}

#top-menu > div >  a {
    color: #ffffff;
}

.rack {
    /*width: 100%;*/
    background-color: #94b0b7;
    border-radius: 0.5em;
    /*padding: 1px;*/
    /*margin: 3px;*/
    margin: 0.3em;
    padding: 0.1em;
    padding-left: 0.3em;
}

.racks-navigation-list {
    background-color: #4a707a;
    border-radius: 0.5em;
    margin: 0.3em;
    padding-left: 0.3em;
    margin-bottom: 1.0em; 
}

.racks-navigation-list > div > a {
    color: #ffffff;
}

.add-rack {
    background-color: #c2c8c5;
    /* background-color: #7697a0;*/
    border-radius: 0.5em;
    border-width: 1px;
    border-color: #000000;
    /* width: 100%;*/
    margin: 0.3em;
    padding: 0.1em;
    margin: 0.2em;
    padding-left: 0.3em;
}

.add-unit {
    background-color: #4a707a;
    color: #ddddda;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: #000000;
    /* width: 100%;*/
    margin: 0.5em;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.0em;
}

.unit {
    background-color: #ddddda;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: #000000;
    /* width: 100%;*/
    margin: 0.5em;
    padding: 0.5em;
}

.port-summary {
  display: flex;
  flex-direction: column;
}

.port-summary-wrap {
  display: inline-block;
  /* background-color: blue; */
  width: calc(100% - 2em);
}

.port-summary-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.port {
    background-color: #f0f0f0;
    border-radius: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: #94b0b7;
    /* width: 100%;*/
    margin: 0.5em;
    padding: 0.5em;
}



.unit-info {
    /* color: #F0F0F0;*/
    /* padding: 0.5em;*/
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.control-input-container {
    /* width: 100%;*/
    display: flex;
    flex-direction: row;
}

.add-unit > a {
    color: #ffffff;
}

.control-input-container > p {
    margin-top: 0.2em;
    /* padding: 0.5em;*/
    /* background-color: #505050;*/
    /* color: #ffffff;*/
}

.control-input-container > input[type="number"] {
    /* width: 100%;*/
    flex-grow: 1;
    margin: 0.0em;
    /* color: #404040;*/
}

.control-input-container > input[type="range"] {
    /* width: 100%;*/
    flex-grow: 99;
    margin: 0.0em;
    background-color: #00000000;
    /* color: #404040;*/
}

.input-control-port-value-slider {
  display: block;
}

.operations {
    margin-left: 1.0em;
    margin-top: 0.0em;
}

input[type=number] {
    width: 4em;
    /* border-radius: 0.5em; */
}

