
body {
    background-color: #7697a0;
    padding: 0.0em;
    margin: 0.0em;
    font-size: 1.0em;
    font-family: monospace;
}

a {
    color: #4a707a
}

/*
span {
    margin: 0.5em;
}
*/

.rounded-shadow-box {
    border-radius: 0.5em;
    box-shadow: 0em 0em 0.4em 0.0em #101010;
    border-style: solid;
    border-color: #000000;
    border-width: 0.1em;
    margin: 0.6em;
    padding: 0.3em 0.6em 0.3em 0.6em;
}

#top-menu {
    background-color: #4a707a;
}

#top-menu > div >  a {
    color: #ffffff;
}

.rack {
    background-color: #94b0b7;
}

.racks-navigation-list {
    background-color: #4a707a;
}

.racks-navigation-list > div > a {
    color: #ffffff;
}

.add-rack {
    background-color: #c2c8c5;
}

.add-unit {
    background-color: #4a707a;
    color: #ddddda;
}

.unit {
    background-color: #ddddda;
}

.port-summary {
    display: flex;
    flex-direction: column;
}

.port-summary-wrap {
    display: inline-block;
    width: calc(100% - 2em);
}

.port-summary-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.port {
    background-color: #f0f0f0;
}

.unit-info {
}

.control-input-container {
    /* width: 100%;*/
    display: flex;
    flex-direction: row;
}

.add-unit > a {
    color: #ffffff;
}

.control-input-container > p {
    margin-top: 0.2em;
    /* padding: 0.5em;*/
    /* background-color: #505050;*/
    /* color: #ffffff;*/
}

.control-input-container > input[type="number"] {
    /* width: 100%;*/
    flex-grow: 1;
    margin: 0.0em;
    /* color: #404040;*/
}

.control-input-container > input[type="range"] {
    /* width: 100%;*/
    flex-grow: 99;
    margin: 0.0em;
    background-color: #00000000;
    /* color: #404040;*/
}

.input-control-port-value-slider {
    display: block;
}

.indent {
    margin-left: 1.0em;
}

.float {
    width: 6em;
    border-radius: 0.4em;
    border-color: #000000;
    border-width: 1px;
}

.midi-cc-channel {
    width: 3em;
    border-radius: 0.4em;
    border-color: #000000;
    border-width: 1px;
}

.midi-cc-cc {
    width: 4em;
    border-radius: 0.4em;
    border-color: #000000;
    border-width: 1px;
}

/*
input[type=number] {
    width: 6em;
    border-radius: 0.4em;
    border-color: #000000;
    border-width: 1px;
}

input[type=text] {
    width: 6em;
    border-radius: 0.4em;
    border-color: #000000;
    border-width: 1px;
}
*/
