/* created using http://danielstern.ca/range.css/?ref=css-tricks#/ */

input[type=range] {
    display: none;
    -webkit-appearance: none;
    width: 100%;
    margin: 0.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #4a707a;
  border-radius: 0px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.5px 0.5px 2.2px #000000, 0px 0px 0.5px #0d0d0d;
  border: 0.5px solid #000000;
  height: 9px;
  width: 41px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9ec3e3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #4a707a;
  border-radius: 0px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.5px 0.5px 2.2px #000000, 0px 0px 0.5px #0d0d0d;
  border: 0.5px solid #000000;
  height: 9px;
  width: 41px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0b1926;
  border: 0.2px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #4a707a;
  border: 0.2px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.5px 0.5px 2.2px #000000, 0px 0px 0.5px #0d0d0d;
  border: 0.5px solid #000000;
  height: 9px;
  width: 41px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  height: 7.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #4a707a;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9ec3e3;
}

